IMAPAccount personal
Host        imap.fastmail.com
User        ossian@fastmail.com
Pass        {{ onepasswordRead "op://iadi64yxnoyh2b5xosdxiydcna/i7o5bqrpenxguh5psiaave5k7m/credential" }}
TLSType     IMAPS

IMAPStore personal-far
Account   personal

MaildirStore personal-near
Path         ~/.mail/personal/
Inbox        ~/.mail/personal/Inbox
SubFolders   Verbatim

Channel   personal
Far       :personal-far:
Near      :personal-near:
Pattern   *
Create    Both
Remove    Both
Expunge   Both
SyncState *
